body {
  margin: 40px auto;
  max-width: 650px;
  line-height: 1.6;
  font-size: 18px;
  background-color: #19181b;
  color: #f8f6ea;
}

a:visited, a:hover{
    color: #8888ff;
}

a{
    color: #66aaff;
}

h1, h2, h3
{
  line-height: 1.2
}

.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #19181b;
   color: #f8f6ea;
   text-align: center;
}

*{
    font-family: sans-serif;
}
